<p id="notice"><%= notice %></p>
<div class="default-container">
<h1>農産物　一覧</h1>

<table class="search-table">
  <%= search_form_for @q do |f| %>
    <tr>
      <td><%= f.label :name_cont, "商品名" %></td>
      <td><%= f.text_field :name_cont %></td>
    </tr>
    <tr>
      <td><%= f.label :count_lteq, "個数" %></td>
      <td><%= f.text_field :count_lteq %></td>
    </tr>
    <tr>
      <td><%= f.label :created_at_gteq, "投稿時間" %></td>
      <td><%= f.text_field :created_at_gteq %></td>
    </tr>
    <tr>
      <td colspan="2"><%= f.submit %></td>
    </tr>
  <% end %>
</table>


  <div class="l-content">

    
  <div class="item-container ">
  <div class="new-item-button">
  <button class="button1" type="submit">
  <%= link_to '新規投稿', new_item_path ,:style=>"color:green;" %>
  </button>
  </div>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-4">
        <figure class="items-box-photo">
          <%= image_tag item.image_url %>
        </figure>

        <div class="items-box-body">
          <ul>
            <li><%= item.category %></li>
            <li><%= item.name %></li>
            <li><%= item.count %>個</li>
          </ul>
        </div>
        <div class="items-box-button">
          <ul>
             <li><%= link_to 'Show', item %></li>       
             <li><%= link_to 'Edit', edit_item_path(item)  %></li> 
             <li><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </div>

        <div class="items-box-like">

          <% if member_signed_in? %>
            <% if item.like_member(current_member.id) %>
              <%= link_to item_likes_path(item), id: "like-button", method: :delete do %>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              <% end %>
              <span>
                <%= item.likes.count %>
              </span>
            <% else %>
              <%= link_to item_likes_path(item), id: "like-button", method: :post do %>
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              <% end %>
              <span>
                <%= item.likes.count %>
              </span>
            <% end %>
          <% else %>
            <%= image_tag("grayheart.jpeg") %>
            <span>
              <%= item.likes.count %>
            </span>
          <% end %>

        </div>

        
      </div>            

        <div class="items-box-button">
          <ul>
             <li><%= link_to 'Show', item ,:style=>"color:green;" %></li>
             <li><%= link_to 'Edit', edit_item_path(item) ,:style=>"color:green;" %></li>
             <li><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } ,:style=>"color:green;" %></li>
          </ul>
        </div>
      </div>

    <% end %>



  </div>
  </div>

  </div>



</div>
</div>
