<p id="notice"><%= notice %></p>

<h1>農産物　一覧</h1>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>カテゴリ</th>
      <th>商品名</th>
      <th>個数</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td colspan="3"><%= image_tag item.image_url %></td>
      </tr>
      <tr>
        <td><%= item.category %></td>
        <td><%= item.name %></td>
        <td><%= item.count %></td>
        <td>
        <% if member_signed_in? %>
          <% if item.like_member(current_member.id) %>
            <%= link_to image_tag("redheart.png") , item_likes_path(item), id: "like-button", method: :delete %>
            <span>
              <%= item.likes.count %>
            </span>
          <% else %>
            <%= link_to image_tag("grayheart.jpeg"), item_likes_path(item), id: "like-button", method: :post %>
              <span>
                <%= item.likes.count %>
              </span>
          <% end %>
        <% else %>
          <%= image_tag("grayheart.jpeg") %>
          <span>
            <%= item.likes.count %>
          </span>
        <% end %>
        </td>
                <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
