<p id="notice"><%= notice %></p>

<h1>Listing  Items</h1>

<%= search_form_for @q do |f| %>

  <%# start 特定の文字列で始まる商品名で検索 %>
  <div class="field">
    <%= f.label :name_cont, "商品名" %>
    <%= f.text_field :name_cont %>
    <br />

    <%= f.label :count_lteq, "個数" %>
    <%= f.text_field :count_lteq %>
    <br />

    <%= f.label :created_at_gteq, "投稿時間" %>
    <%= f.text_field :created_at_gteq %>
  </div>

  
  <%# 検索ボタン %>
  <%= f.submit %>
<% end %>



<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Image</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.category %></td>
        <td><%= item.name %></td>
        <td><%= image_tag item.image_url %></td>
        <td><%= item.count %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
