<% provide(:title, "商品表示") %>
<p id="notice"><%= notice %></p>

<%= link_to '編集', edit_item_path(@item) %> |
<%= link_to '戻る', items_path %>

<div class="items-show-box">
    <div class="row">

        <div class="col-lg-6 items-show-photo">
              <a><%= image_tag @item.image_url %></a>
        </div>
        <div class="col-lg-4">
            <ul>
              <li>カテゴリー:</li>
              <li>商品名:</li>
              <li>個数:</li>
              <li>生産者:</li>
            </ul>
        </div>

        <div class="col-lg-4">
            <ul> 
              <li><%= @item.category %></li>
              <li><%= @item.name %></li>
              <li><%= @item.count %></li>
              <li><%= link_to @item.member.name, member_path(@item.member.id) %></li>
            </ul>
        </div>
    </div>
</div>

