	   <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to image_tag("icon", :size => "100x60"), root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li id="down">下に移動</li>
            <li><%= link_to "詳細",   about_path %></li>
            <li><%= link_to "商品検索",   items_path %></li>
            <li><%= link_to "投稿者", members_path %></li>
            <li><%= link_to "ヘルプ",   help_path %></li>
            <li><%= link_to "運営", contact_path %></li>
            <li><%= link_to "ホームへ",   root_path %></li>
            <li><%= link_to "ログイン", new_member_session_path %></li>
          </ul>
        </nav>
    </header>