<script type="text/javascript" src="application.js"></script>

	   <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to image_tag("icon", :size => "90x50"), root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#section1">About</a></li>
            <li><%= link_to "商品検索",   items_path %></li>
            <li><%= link_to "投稿者", members_path %></li>
            <li><%= link_to "ヘルプ",   help_path %></li>
            <li><%= link_to "運営", contact_path %></li>
            <li><%= link_to "ホームへ",   root_path %></li>
            <li><%= link_to "ログイン", new_member_session_path %></li>
          </ul>
        </nav>
    </header>