<div id="follow ">
<div class="block">
	<%  page_title = "フォロー" %>

    <div class="page-header"><%  page_title = "フォロー" %>
    <h1>
          <span class="glyphicon glyphicon-user" aria-hidden="true">
          </span>
            <%=  page_title %>
     <h4><%= link_to "マイページに戻る", @member %></h4>

    </h1>
    </div>
    <div class="follow_wrapper">
			<% @member.followings.each do |member| %>

			<div class="col-md-1"></div>
			        <div class="col-md-3 member-box">
			            <table class="attr">
			            <div class= "media member_image">
			              <a class= "media-left">
			              <%= image_tag member.image_url%>
			              </a>
			            </div>
			            <div class="media-body">
			                <h4 class="media-heading, membername"><%= link_to member.name,member_path(member) %></h4>
			            </div>

			              <tr>
			                <th>性別</th>
			                <td><%= member.sex == 0 ? "男" : "女" %></td>
			              </tr>
			              <tr>
			                <th>誕生日</th>
			                <td><%= member.birthday.try(:strftime, "%Y年%m月%d日") %></td>
			              </tr>
			              <tr>
			                <th>メールアドレス</th>
			                <td><%= member.email %></td>
			              </tr>
						</table>
					</div>

<% end %>
</div>
</div>
</div>