<%  page_title = "マイページ" %>

<h1><%=  page_title %></h1>

<p><%= link_to "編集", [:edit, @member] %></p>

<table class="attr">

  <tr>
    <th>名前</th>
    <td><%= @member.name %></td>
  </tr>
  <tr>
    <th>my image</th>
    <td><%= image_tag @member.image_url%></td>
  </tr>
  <tr>
    <th>性別</th>
    <td><%= @member.sex == 0 ? "男" : "女" %></td>
  </tr>
  <tr>
    <th>誕生日</th>
    <td><%= @member.birthday.try(:strftime, "%Y年%m月%d日") %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @member.email %></td>
  </tr>

  <section class="stats">
  <%= render 'shared/stats' %>
  </section>

  <% if @member.followed_by?(current_member) %>
    <%= link_to 'フォロー解除', member_relationships_path(@member), method: :delete %>
  <% else %>
    <%= link_to 'フォロー', member_relationships_path(@member), method: :post %>
  <% end %>
  
  
    
  <%#= render 'follow_form' if member_signed_in? %>



</table>
