<div class="mypage">
<%  page_title = "マイページ" %>

<div class="page-header"><h1><%=  page_title %></h1></div>

<p><%= link_to "プロフィール編集", [:edit, @member] %></p>

<div class="container">
  <div class="row">
    <div class="col-md-4">
        <table class="attr">
        <div class="media">
          <a class="media-left" >
          <%= image_tag @member.image_url%>
          </a>
        </div>
          <div class="media-body">
            <h4 class="media-heading"><%= @member.name %></h4>
          </div>

          <tr>
            <th>性別</th>
            <td><%= @member.sex == 0 ? "男" : "女" %></td>
          </tr>
          <tr>
            <th>誕生日</th>
            <td><%= @member.birthday.try(:strftime, "%Y年%m月%d日") %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @member.email %></td>
          </tr>

          <section class="stats">
          <%= render 'shared/stats' %>
          </section>

          <% if @member.followed_by?(current_member) %>
           <button type="button" class="btn btn-primary"><%= link_to 'フォロー解除', member_relationships_path(@member), method: :delete %>
          </button>
          <% else %>
           <button type="button" class="btn btn-primary"><%= link_to 'フォロー', member_relationships_path(@member), method: :post %>
           </button>
          <% end %>
          <a href="<%= members_path %>" class="btn btn-success btn-mini"><i class="icon-white icon-user"></i>投稿者一覧へ</a>

        </table>
    </div>
  </div>
</div>